
:root {
    --bgcolor: #f6f6f6;
    --lightgray: #b1b1b1;
    --darkgray: #1b1b1b;
    --gray95: #f1f1f1;
    --gray90: #e0e0de;
    --gray80: #c6c6c6;
    --gray70: #ababab;
    --gray60: #919191;
    --gray50: #777;
    --gray15: #262626;
    --blue: #00305b;
    --light-blue: #e5eaee;
    --pink: #e6007e;
    --lightpink: #fce5f2;
    --lightgreenbg: #e5f6e5;
    --lightgreen: #00a900;
    --green: #028b09;
    --light-red: #ff4444;
    --dangerred: #ff0000;
    --red: #c84c47;
    --bs-gutter-x: 30px !important;
    --bs-white: #fff;
    --border-input: #f1f1f1;
    --passed: #ffdada;
    --light-orange: #fef4e8;
    --orange: #f7941d;
  }
  

  .ant-tabs-tab {
    margin: 0 0 0 32px;
  }

  .ant-tabs-tabpane{
    padding: 3px 3px !important;
    margin: 0 ;
  }

  .ant-modal-close{
    display: none;
  
  }
  
  
  // .unit-custom{
  //   top: 8px !important;
  // }
  
  .ant-select-selector{
    // border: none !important;
    border-radius: 4rem !important;
  }
  
  
  // .select-option input{
  //   border: none !important;
  //   background-color: blue !important;
  // }
  
  .ant-alert-icon {
    margin-right: 0 !important;
    margin-left: 8px !important;
  }
  
  .ant-btn-primary{
    border-color:white !important;
  }
  
  
  .ant-input{
    background-color: var(--bgcolor) !important; 
    border: 1px solid var(--gray95) !important;
    padding: 10px 15px !important;
    border-radius: 32px !important;
    width: 100% !important;
  }
  .ant-card-actions > li > span a:not(.ant-btn):hover, .ant-card-actions > li > span > .anticon:hover {
    color: #e6007e;
  
  }
  .btn-outline-pink {
   &:hover{
     font-size: 14px ;
   }
  }
  .ant-picker-content{
    flex-direction: row-reverse;
  }
  .custom-timePicker{
  .ant-picker-input{
    padding: 4px;
  }}
  .custom-timePicker.ant-picker{
  
    background: var(--bgcolor);
  
  }
  .ant-picker-ok{
    button{
      background: #e6007e !important;
      color:#fff;
      border-radius: 100px;
    }
  }
  
  
.ant-input::placeholder {
  font-size: 0.85rem !important;
  color: var(--gray50);
}


// ******

.ant-tabs-nav-list{
  width: 100%;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  // margin: 0px 80px;
}

.ant-tabs-content p {
  font-family: vazir, Arial, sans-serif !important;
  font-size: 12px;
  color: var(--gray50) !important;
}

.ant-tabs-ink-bar{
  background-color:  var(--pink) !important;

  // width: 80% !important;
  // max-width: auto !important;

  // left: 103px !important;
  // width: 80px !important;
}

// .ant-tabs-tab-btn{
//   font-size: 12px;
// }

.ant-tabs-ink-bar :first-child{
  background-color: #1b1b1b !important;
  margin: 400px !important;
}

.ant-tabs-tab-btn{
  color: var(--gray50) !important;
  position: relative !important;
  font-size: 12px;
  // width: 60px !important;
  text-align: center !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {

  color: var(--pink) !important;
}

.ant-form{
  font-family: vazir, Arial, sans-serif;
  font-size: 12px;
  color: var(--gray50);
  margin: 0 auto;
}

.ant-form label {
  font-size: 12px;
  color: var(--gray50)
}

.ant-input {
  font-size: 12px;
}

.ant-row {
  margin-bottom: 9px !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color : var(--bgcolor);
  font-size: 1rem;
}
