.follow_ct_btn{
    font-size: 0.9rem !important;
    color: var(--gray60) !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}
.contact_ct_btn{
    a{

        font-size: 0.9rem !important;
        color: var(--gray60) !important;
        margin-bottom: 0 !important;
        margin-top: 5px !important;
    }
}
