@font-face {
    font-family: "vazir Thin";
    src: url("../webfonts/vazir/Vazir-Thin-FD-WOL.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/vazir/Vazir-Thin-FD-WOL.eot?#iefix") format("embedded-opentype"), /* Legacy iOS */ url("../webfonts/vazir/Vazir-Thin-FD-WOL.woff") format("woff"), /* Modern Browsers */ url("../webfonts/vazir/Vazir-Thin-FD-WOL.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vazir Light";
    src: url("../webfonts/vazir/Vazir-Light-FD-WOL.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/vazir/Vazir-Light-FD-WOL.eot?#iefix") format("embedded-opentype"), /* Legacy iOS */ url("../webfonts/vazir/Vazir-Light-FD-WOL.woff") format("woff"), /* Modern Browsers */ url("../webfonts/vazir/Vazir-Light-FD-WOL.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vazir";
    src: url("../webfonts/vazir/Vazir-FD-WOL.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/vazir/Vazir-FD-WOL.eot?#iefix") format("embedded-opentype"), /* Legacy iOS */ url("../webfonts/vazir/Vazir-FD-WOL.woff") format("woff"), /* Modern Browsers */ url("../webfonts/vazir/Vazir-FD-WOL.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vazir medium";
    src: url("../webfonts/vazir/Vazir-Medium-FD-WOL.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/vazir/Vazir-Medium-FD-WOL.eot?#iefix") format("embedded-opentype"),  /* Legacy iOS */ url("../webfonts/vazir/Vazir-Medium-FD-WOL.woff") format("woff"), /* Modern Browsers */ url("../webfonts/vazir/Vazir-Medium-FD-WOL.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vazir bold";
    src: url("../webfonts/vazir/Vazir-Bold-FD-WOL.eot"); /* IE9 Compat Modes */
    src: url("../webfonts/vazir/Vazir-Bold-FD-WOL.eot?#iefix") format("embedded-opentype"), /* Legacy iOS */ url("../webfonts/vazir/Vazir-Bold-FD-WOL.woff") format("woff"), /* Modern Browsers */ url("../webfonts/vazir/Vazir-Bold-FD-WOL.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

:root {
    --bgcolor: #f6f6f6;
    --lightgray: #b1b1b1;
    --darkgray: #1b1b1b;
    --gray95: #f1f1f1;
    --gray90: #e2e2e2;
    --gray80: #c6c6c6;
    --gray70: #ababab;
    --gray60: #919191;
    --gray50: #777;
    --gray15: #262626;
    --blue: #00305b;
    --light-blue: #e5eaee;
    --medium-blue: #ccd6de;
    --pink: #e6007e;
    --lightpink: #fce5f2;
    --lightgreenbg: #e5f6e5;
    --lightgreen: #00a900;
    --green: #028b09;
    --light-red: #ff4444;
    --dangerred: #ff0000;
    --red: #c84c47;
    --bs-gutter-x: 30px !important;
    --border-input: #f1f1f1;
    --passed: #ffdada;
    --light-orange: #fef4e8;
    --orange: #f7941d;
    --bs-white: #fff;
}
* {
    transition: all 0.1s ease-out;
  }
  
body, html {
    font-family: vazir, Arial, sans-serif !important;
    font-size: 12px;
    color: var(--gray50) !important;
}

@media (min-width: 992px) {
    body, html {
        font-size: 14px;
    }

    .main-content#artworks .fw-block .flex-end {
        margin-top: 1.5rem;
    }
}


a,
a:hover {
    text-decoration: none !important;
    color: var(--gray50);
}

ul, li {
    margin: 4 !important;
    padding: 0px 8px !important;
    list-style: none !important;
}


button {
    border: 0;
    background-color: transparent;
}

.top-header {
    padding: 10px;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flex-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container {
    max-width: 1280px !important;
    width: 100% !important;
    min-height: 100vh !important;
    padding-bottom: 15px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.notification {
    position: relative;
}

.notification i {
    font-size: 24px;
    color: #707070;
}

.share i {
    font-size: 1.2rem;
}

.notification.new-notice:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background: var(--pink);
    border: 3px solid var(--gray95);
    box-sizing: content-box;
    position: absolute;
    left: 2px;
    top: 2px;
}

.input-group {
    position: relative;
}

input.default-input {
    padding: 0 20px;
  }
  
  input.default-input::placeholder{
    color: var(--gray80) !important ;
  }

.default-input {
    background-color: var(--bgcolor) !important;
    border: 1px solid var(--gray90) !important;
    padding: 10px 15px !important;
    border-radius: 32px !important;
    width: 100% !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.default-input::placeholder {
    font-size: 0.85rem !important;
}

.default-input:focus {
    outline: 0;
}


.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-radius: 32px;
}


.input-group.search button {
    position: absolute;
    left: 10px;
    top: 9px;
    color: var(--gray50);
}

.btn-advancesearch i {
    font-size: 1.5rem;
    color: var(--darkgray);
    font-weight: normal;
}

.input-group.search {
    margin-bottom: 10px;
}


/***********Full width block****/

.fw-block {


        width: 100%;
        border-radius: 1.5rem;
        padding: 15px;
        box-shadow: 0 0 5px 2px var(--gray90);
        top: 0px;
        position: relative;
        background-color: #fffef8;
        text-decoration: none;
        overflow: hidden;
        border: 1px solid #f2f8f9;

        &:hover {
            transition: all 0.2s ease-out;
            box-shadow: 0px 10px 10px rgba(38, 38, 38, 0.2);
            top: -4px;
            border: 1px solid #cccccc;
            background-color: rgb(240, 240, 240);
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -16px;
            right: -16px;
            background: #00838d;
            height: 32px;
            width: 32px;
            border-radius: 32px;
            transform: scale(2);
            transform-origin: 50% 50%;
            transition: transform 0.15s ease-out;
        }

        &:hover:before {
            transform: scale(2.15);
        }
    }

.tags-block {
    position: absolute;
    top: 5px;
    right: 5px;
}

.auction-category {
    background-color: var(--bs-white);
    border-radius: 5px;
    color: var(--pink);
    padding: 2px 15px 2px 2px;
    background-repeat: no-repeat;
    background-position: right 3px center;
    background-size: 10px;
    font-size: .7rem;
    margin-right: 6px;
}

.auction-category.won {
    background-color: var(--green);
    color: var(--bs-white);
    padding: 2px 10px;
}

.auction-category.lose {
    background-color: var(--red);
    color: var(--bs-white);
    padding: 2px 10px;
}

.auction-category.live {
    background-image: url("../img/live-icon.svg");
}

.auction-category.online {
    background-image: url("../img/online-icon.svg");
}

.auction-category.timed {
    background-image: url("../img/timed-icon.svg");
}

.auction-category.firstoffer {
    background-image: url("../img/firstoffer-icon.svg");
}

.auction-category.secondoffer {
    background-image: url("../img/secondoffer-icon.svg");
}


.img-block {
    position: relative;
}

.artist-name {
    font-size: 1rem;
    color: var(--darkgray);
    font-family: "vazir bold", sans-serif;
    margin-top: 5px;
}

.artwork-name {
    font-weight: bold;
    font-size: 1rem;
    color: var(--darkgray);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.btn-favorite {
    position: relative;
}

.btn-favorite:before {
    content: "\f004";
    font-family: "Font Awesome\ 5 Pro", sans-serif;
    font-size: 1.5rem;
    color: var(--gray70);
    font-weight: 100;
}

.btn-favorite.active:before {
    font-weight: 700;
    color: var(--pink);
}

.price-title {
    font-size: 0.7rem ;
    color: var(--gray70);
}

.price {
    display: inline-block;
}

.price span {
    font-size: 1rem;
    font-family: "vazir bold", sans-serif;
    color: var(--darkgray);
}

.unit {
    font-family: vazir, sans-serif !important;
    font-size: .8rem !important;
    color: var(--gray50) !important;
}


  .search-input .unit {
    position: absolute;
    left: 35px;
    top: 150px;
    font-weight: bold;
    font-size: 13px ;
    color: var(--darkgray) !important;
}
.num-bids {
    font-size: .8rem
}

.right-align {
    text-align: right;
}

.gallery-name {
    display: block;
    font-size: .8rem;
}

.countdown {
    font-size: .8rem;
}

.countdown.start {
    color: var(--lightgreen) !important;
}

.countdown.end {
    color: var(--red) !important;
}

.fw-block {
    margin-top: 10px;
}

.fw-block:first-child {
    margin-top: 0;
}


footer {
    background: var(--bs-white);
    padding: 0 15px;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--gray90);
    text-align: center;
    z-index: 500;
}

.btn-footer {
    color: var(--gray70);
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-footer:hover{
    color: var(--gray15);
}

.btn-footer i {
    font-size: 20px;
}

.btn-footer i.fa-gavel {
    transform: rotate(270deg);
}

.bottomnav {
    display: block;
    font-size: .8rem;
}

.btn-footer.active {
    color: var(--darkgray);
}

.btn-footer.active i {
    font-weight: bold;
}

footer .col {
    padding: 0;
}

.fw-block .col-4 {
    padding-left: 0;
}

.main-content#artworks .fw-block .flex-end {
    margin-top: .5rem;
}

.auction-house-name {
    font-size: .9rem;
    color: var(--gray60);
    margin-bottom: 0;
    margin-top: 5px;
}

.btn-main {
    width: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    background: var(--pink);
    color: var(--bs-white);
    font-size: .8rem;
}

.show-text {
    display: none;
}

.main-title {
    font-size: 1.4rem;
    color: var(--darkgray);
    font-family: "vazir bold", sans-serif;
    margin: 0;
}

.btn-erase {
    font-size: .8rem;
    color: var(--red);
    padding: 0;
}


.sidebar-header .btn-close {
    width: .9rem;
    height: .9rem;
    padding: 0;
}

.sidebar,
.filterlist-group {
    background: var(--bs-white);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px 15px;
    display: none;
    overflow: scroll;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 15px;
    position: sticky;
    top: 0;
    background: var(--bs-white);
}

.sidebar-header button {
    min-width: 42px;
}


.default-label {
    color: var(--gray50);
    font-size: .9rem;
    margin-bottom: 5px;
    margin-right: 15px;
}

.default-label i {
    margin-left: 5px;
}

.mrgt30 {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.form-select {
    background-position: left 1rem center;
}

.input-group.search .default-input {
    padding: 10px 15px 10px 55px !important;
    background-color: var(--bs-white) !important;
}

.sidebar-filter {
    margin-top: 3rem;
}

.sidebar-filterlist li a {
    display: flex ;
    flex-direction: row ;
    justify-content: flex-start ;
    align-items: center ;
    padding: .8rem .7rem ;
    background: var(--bgcolor) ;
    margin-bottom: 10px ;
    border-radius: 3rem ;
    color: var(--darkgray) ;
    border: 1px solid var(--gray95) ;
    position: relative ;
    height: 3.3rem;
    transition: all 0.3s ease;
    cursor: pointer;

}

.sidebar-filterlist li a:hover{
    height: 3.8rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);

}

.sidebar-filterlist li a:before {
    content: "\f054" !important;
    font-family: "Font Awesome\ 5 Pro" !important;
    position: absolute !important;
    left: 15px !important;
    width: 12px !important;
    transform: rotate(180deg) !important;
}

.sidebar-filterlist li a i {
    margin-right: 10px !important;
    margin-left: 10px !important;
    text-align: center !important;
    width: 16px !important;
    font-size: 1rem !important;
}

.sidebar-filterlist li a span {
    font-size: .8rem !important; 
    color: var(--gray50) !important;
    position: absolute !important;
    left: 35px !important;
}


.main-filterlist {
    display: inline-flex !important;
    flex-direction: row !important;
    margin-bottom: 10px !important;
}

.main-filterlist li {
    padding: .3rem .8rem !important;
    border: 1px solid var(--gray90) !important;
    border-radius: 1rem !important;
    margin-left: 2px !important;
    background: var(--bgcolor) !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.main-filterlist li a {
    display: inline-block !important;
    font-size: .8rem !important;
    color: var(--gray50) !important;
}

.main-filterlist li span {
    margin-right: 10px !important;
}

.main-filterlist li.active {
    border: 1px solid var(--pink) !important;
    background: var(--bgcolor) !important;
}

.main-filterlist li.active a,
.main-filterlist li.active span {
    color: var(--pink) !important;
}

.sidebar-header .input-group.search {
    margin: 0;
}

.btn-back {
    padding: 10px 5px;
}

.btn-back i {
    font-weight: bold;
    color: var(--gray50);
    font-size: 1rem;
    transform: rotate(180deg);
}

.filterlist-group .sidebar-header {
    padding-bottom: 10px;
    margin-bottom: 0;
}

.input-group.search .btn-searchlocation {
    font-size: 1.2rem;
    top: 7px;
}

.main-list .form-check {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray95);
}

.form-check {
    padding-left: 0;
    padding-right: 1.5em;
}

.form-check-input:checked {
    background-color: var(--darkgray);
    border-color: var(--darkgray);
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem var(--gray90);
}

.form-check-input:checked ~ label {
    color: var(--darkgray);
}

.sidebar-filter .btn-main {
    float: right;
    padding: .5rem 2rem;
    font-size: .9rem;
}

.form-check-label {
    width: 100%;
}

.main-nav {
    border-bottom: 1px solid var(--gray90);
}

.main-nav.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: none;
    border-bottom: 3px solid var(--pink);
    margin-bottom: -2px;
    color: var(--pink);
}

.main-nav.nav-pills .nav-link {
    border-radius: 0;
    color: var(--gray60);
    font-size: 1rem;
}

#auctions .fw-block .img-block {
    padding: 0px;
}

.tab-content {
    margin-top: 15px;
}

#auctions .tab-content .artist-name {
    margin-top: 10px;
    margin-bottom: 5px;
}

.auction-date {
    font-size: .9rem;
    color: var(--gray50) !important;
}

.date-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    overflow: scroll;
}

.date-list li {
    text-align: center;
    padding: 0 10px;
    color: var(--darkgray);
    font-size: .8rem;
}

.date-list li.disabled {
    color: var(--gray80);
}

.date-list li.current {
    color: var(--darkgray);
}

.date-list li:first-child {
    padding-left: 0;
}

.date-list li span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-sizing: content-box;
}

.date-list li.current span {
    background: var(--pink);
    color: var(--bs-white);
}

.owl-carousel.auction-details-img .owl-item img {
    height: auto;
}

h6.default {
    font-family: "vazir bold", sans-serif;
    color: var(--darkgray);
    font-size: 1rem;
}

.mrgt10 {
    margin-top: 10px;
}

.lot-number {
    min-width: 20px;
    height: 20px;
    border: 1px solid var(--gray90);
    padding: 3px;
    border-radius: 20px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.mrgt15 {
    margin-top: 15px !important;
}


#auction-detail .artist-name {
    margin-top: 0;
}

#auction-detail .main-nav {
    position: sticky;
    top: 0;
    background: var(--bgcolor);
    padding-top: 15px;
    z-index: 100;
}

.img-artists {
    width: 100%;
    max-width: 40px;
    border-radius: 100%;
    height: 40px;
}

.img-block .artist-name {
    margin-bottom: 0;
    margin-right: 5px;
}

.lot-arrow {
    font-size: .8rem;
}

.lot-arrow span {
    margin: 0 5px;
}


#auction-detail-artwork .default {
    margin-bottom: 0
}

.artwork-bigimg {
    height: 350px;
}

.artwork-bigimg img {
    height: 100%;
    width: 257px;
    margin: 0 auto;
    display: block;
}


p a {
    color: var(--blue);
    font-style: italic;
    margin-right: 5px;
    display: inline-block;
}

p a i {
    font-size: .8rem;
    margin-left: 5px;
}

#auction-detail-artwork .countdown {
    font-size: 1rem;
    font-family: "vazir bold", sans-serif;
}

.current-bid .default {
    color: var(--pink);
}

#auction-detail-artwork .countdown .gutter-5 {
    font-size: .8rem;
    font-family: vazir, sans-serif;
    margin-left: 2px;
}

#auction-detail-artwork .countdown span {
    color: var(--darkgray);
}

.current-bid span {
    color: var(--gray50);
}

.input-group.with-step {
    position: relative;
}

.input-group.with-step span {
    position: absolute;
    top: 6px;
}

.input-group.with-step span i {
    font-size: 2rem;
}

.input-group.with-step span:first-child {
    left: 15px;
}

.input-group.with-step span:last-child {
    right: 15px;
}

.input-group.with-step .default-input {
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
}

.input-group.with-step .default-input::placeholder {
    text-align: center;
}

.flex-column .btn-main {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
}

.bag-white {
    background-color: var(--bs-white) !important;
}

.sidebar-filterlist li.complete a:before {
    content: "\f00c";
    color: var(--green);
    transform: rotate(0deg);
}


.sidebar-filterlist li.complete a span {
    color: var(--lightgreen);
}

.sidebar-filterlist li.inprogress a span {
    color: var(--orange);
}


#auction-register .sidebar-filterlist li a,
#account-page .sidebar-filterlist li a {
    padding-right: 10px;
    padding-left: 20px;
}


.sidebar-body .btn-main {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

option#iran {
    background: url("../img/iran.png") no-repeat center;
    width: 40px;
    height: auto;
    display: block;
}

.form-group img {
    max-width: 30px;
    width: 100%;
    height: auto;
}

.select-country {
    display: block;
}

.select-country .dropdown-toggle {
    background: var(--bgcolor);
    border: 1px solid var(--gray95);
    padding: 10px 15px 10px 15px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    border-right: 0;
}

.flex-start .default-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left: 0;
}

.select-country .dropdown-menu {
    min-width: 62px;
}

.form-group .flex-start {
    position: relative;
}

.pre-num {
    position: absolute;
    left: 20px;
    font-size: 1rem;
    top: 11px;
    color: var(--darkgray);
}


.form-group .flex-start .default-input {
    padding-left: 45px;
    text-align: left;
}

.btns .btn-main {
    width: 100%;
    padding: 10px 15px;
}

.form-group {
    position: relative;
}

.form-group input[type=file] {
    opacity: 0;
    width: 50%;
    padding: 0;
    margin: 0 15px;
    max-width: 250px;
}

.form-group .btn-upload {
    position: absolute;
    top: 0;
    right: 15px;
    width: 50%;
    max-width: 250px;
    font-size: .9rem;
    padding: 10px 30px;
}

.btn-upload {
    background: var(--lightpink);
    display: inline-block;
    padding: 5px 30px;
    border-radius: 30px;
    font-size: 1rem;
    color: var(--pink);
}

.btn-upload i {
    transform: rotate(270deg);
    margin-left: 2px;
}

.file-group p {
    padding: 0 15px;
}

.file-group {
    margin-bottom: 30px;
}

.form-check.img-checkbox {
    position: relative;
    padding-right: 0;
    z-index: 10;
    margin-bottom: 15px;
}

.form-check.img-checkbox .artwork-img {
    border: 3px solid transparent;
    transition: all .5s ease 0s;
}

.form-check.img-checkbox:hover .artwork-img {
    border: 3px solid var(--darkgray);
}

.form-check.img-checkbox .form-check-input {
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    z-index: 12;
    width: 30px;
    height: 30px;
}

.form-check.img-checkbox .form-check-input:checked ~ .form-check-label .artwork-img {
    border: 3px solid var(--darkgray);
}

.form-check .lot-number {
    margin-top: 0;
}

.btns {
    position: sticky;
    // bottom: 0;
    z-index: 100;
    padding: 10px 0;
    // background: var(--bs-white);
}

.form-check-input:focus {
    border-color: transparent;
}

.value-list {
    margin: 12px 0;
    display: inline-block;
    width: 100%;
}

.value-list .flex-around {
    padding: 10px 0;
    border-bottom: 1px solid var(--gray95);
}

.value-list .flex-around:nth-child(odd) td {
    background-color: var(--bgcolor);
}

.value-list .flex-around:last-child {
    border-bottom: 0;
}

.value-list .flex-around .default {
    margin-bottom: 0;
}

#mybids .price-title {
    display: block;
}

#account-page .default {
    margin-right: 15px;
}


.verify-state {
    width: 37px;
    height: 37px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3px;
    top: 3px;
}

.verify-state.warning i {
    color: var(--orange);
    font-size: 1.5rem;
}


.verify-state-msg {
    color: var(--orange);
    font-size: .8rem;
    margin-right: 15px;
}

.verify-state-msg i {
    margin-left: 5px;
    margin-top: 2px;
}

.mrgtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mrgl15 {
    margin-left: 15px;
}

.auction-state {
    display: flex;
    align-items: center;
    font-size: .8rem;
    margin-bottom: 5px;
}


.auction-state i {
    font-weight: bold;
    font-size: .6rem;
    background: var(--bs-white);
    border-radius: 100%;
    padding: 4px;
    margin-left: 5px;
}

.auction-state.confirm {
    color: var(--lightgreen);
}

.auction-state.confirm i {
    background-color: var(--lightgreenbg);
    color: var(--lightgreen);
}

.auction-state.pending {
    color: var(--orange);
}

.auction-state.pending i {
    background-color: var(--light-orange);
    color: var(--orange);
}

.auction-state.failed {
    color: var(--light-red);
}

.auction-state.failed i {
    background-color: var(--passed);
    color: var(--light-red);
}


.failed-txt {
    border-top: 1px solid var(--gray95);
    padding-top: 10px;
    margin-top: 10px;
}

.fw-block .new-notices {
    position: relative;
}

.new-notices i {
    font-weight: bold;
    font-size: .7rem;
    color: var(--lightgreen);
}

#pills-notification .new-notices .default {
    color: var(--darkgray) !important;
}

#pills-notification .default {
    color: var(--gray50);
}

.notification-body .btn-main {
    width: 100%;
}

.notification-body .btn-main i {
    margin-left: 5px;
}

.notification-body p {
    margin-bottom: 0;
}

#Ticket-detail .img-artists {
    max-width: 20px;
    height: auto;
}

#Ticket-detail .artist-name {
    margin-top: 0;
    font-size: .8rem;
}

#Ticket-detail p {
    margin-bottom: 0;
}

.ticket-block {
    display: flex;
    flex-direction: column;
    max-width: 95%;
}

.ticket-block.support {
    float: left;
}

.ticket-block.support .fw-block {
    background-color: var(--bgcolor);
}

.ticket-block {
    margin-top: 15px;
}

.ticket-block .fw-block {
    margin-top: 5px;
}


.send-txt {
    padding: 10px 0;
}

.send-txt {
    position: relative;
}

.send-txt i {
    position: absolute;
    left: 6px;
    top: 14px;
    color: var(--gray70);
    font-size: 31px;
    transform: rotate(180deg);
}

.ticket-date {
    font-size: .8rem;
    color: var(--gray70);
}

.wallet-container {
    background-color: var(--bgcolor);
    border: 1px solid var(--gray95);
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wallet-container h3.default {
    color: var(--darkgray);
    font-size: 3rem;
    margin-top: 10px;
    font-family: "vazir bold",sans-serif;
}

#wallet-page .btn-main {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mrgtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.table-main {
    width: 100%;
}

.table-main tr:nth-child(odd) td {
    background: var(--gray95);
}

.table-main td {
    padding: 15px;
    border-right: 1px solid var(--bs-white);
    color: var(--darkgray);
}

.table-main#about-artwork tr td:first-child {
    font-size: 13px;
}

.btn-simple {
    font-size: .9rem;
    color: var(--gray50);
}


.mrgt20 {
    margin-top: 20px;
}

.mrgb5 {
    margin-bottom: 5px;
}

.form-check .form-check-input {
    float: right;
    margin-right: -1.5em;

}

.wallet-container .unit {
    margin-right: 3px;
}

.dirltr {
    direction: ltr;
}

.input-state.approved {
    background: var(--lightgreenbg);
    color: var(--green);
  }

  .input-state {
    height: 40px;
    margin-right: 2px;
    border-radius: 20px !important;
    padding: 8px 13px !important;
    position: absolute;
    top: 25px;
    left: 2px;
    font-size: 13px;
    text-align: center;
  }

  .input-state {
    padding: 7px 5px;
  }

  .input-state.notapproved {
    background: var(--light-orange);
    color: var(--orange);
  }

  .display{
      display: contents;
  }

  .btn-default {
  background: var(--pink) !important;
  padding: 7px 15px !important;
  min-width: 100px !important;
  color: var(--bs-white) !important;
  border-radius: 20px !important;
  font-size: 13px !important;
}
.btn-default:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.24);
}

.innercontainer {
    width: 100%;
    max-width: 1360px;
    padding: 0;
  }


  .latest-auction .containercs.container {
    padding-right: 0;
    padding-left: 0;
  }

  .modal-dialog .container {
    max-width: 100%;
    padding: 0;
  }

  .latest-auction .container > .row {
    margin-top: 50px;
  }

  .latest-auction .container > .row:first-child {
    margin-top: 0;
  }

  .inner-nav .container .row.mrgt30 {
    display: none;
  }

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding: 0 15px;
  }


  #login-page {
    height: 100vh;
    display: flex;
  }

  #login-page {
    height: auto;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    max-width: 370px;
    margin: 0 auto;
    align-items: center;
  }

  .login-container .logo {
    display: block;
    margin: 0 auto 45px;
  }

  .login-container .login-block {
    padding: 50px 15px 30px;
  }

  .login-container .logo {
    margin: 30px auto;
  }

  .ah-block-info.logo {
    max-height: 100px;
    margin-top: 100px;
    padding-bottom: 0;
  }

  .ah-block-info.logo .bg-shadow {
    position: relative;
    top: -100px;
  }

  .login-block {
    background: var(--bs-white);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    overflow: hidden;
    padding: 21px 30px 30px !important;
  }

  .login-block p {
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 50px;
  }

  .login-block .btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .login-block .main-title .titr {
    margin-top: 0;
  }

.latest-articles .main-title {
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .latest-articles .main-title:before {
    content: "";
    background: var(--bgcolor);
    width: 33%;
    height: 340px;
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
  }

  .main-title {
    white-space: nowrap;
    position: relative;
  }
  .modal-header .main-title ~ .btn-close {
    margin-top: 5px;
  }

  .main-title .titr {
    display: inline-block;
    position: relative;
    min-width: 120px;
    // max-width: 34px;
  }
  
  .main-title .titr:after {
    content: "";
    background: url("../img/maintitle.svg") no-repeat left center;
    width: 35px;
    height: 1px;
    position: absolute;
    bottom: -20px;
    right: 35%;
    transform: rotate(180deg);
  }
  
  .main-title .titr:before {
    content: "";
    // width: 100%;
    height: 1px;
    display: block;
    background-color: var(--gray70);
    position: absolute;
    bottom: -20px;
    left: 65%;
  }
  
  .main-title.small .titr:after {
    right: 10%;
  }
  
  .main-title.small .titr:before {
    left: 95%;
  }
  
  .latest-auction .main-title {
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  
  .latest-auction .main-title:before {
    content: "";
    background: var(--bgcolor);
    width: 70%;
    height: 430px;
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
  }
  
  .newsletter .main-title span.btn-view {
    position: relative;
    top: 30px;
    right: -150px;
    text-decoration: none;
    font-size: 14px;
    color: var(--gray50);
    font-style: italic;
    padding: 5px 30px 5px 5px;
    background: none;
  }

  .modal-header .main-title .titr:before,
.modal-header .main-title .titr:after {
  bottom: -10px;
}

.main-title.faq .btn-view {
    right: -70px;
}

@media (max-width: 576px) {
    .latest-articles .main-title:before {
      width: 50%;
    }
}  

.login-block .main-title .titr {
    margin-top: 0;
}

.main-title .titr {
    margin-top: 0;
}

.newsletter .main-title .titr {
    display: block;
}

.about .main-title {
    padding-top: 70px;
    text-align: center;
}

.newsletter .main-title span.btn-view {
    right: 0;
    top: 20px;
    padding-right: 5px;
}

.main-title {
    white-space: normal;
}

.Categorized-artworks .main-title {
    padding-bottom: 50px;
    text-align: center;
}

.main-title.small .titr:after {
    right: 0;
}

  .main-title.small .titr:before {
    left: 100%;
}

  .main-title .btn-view {
    right: -50px;
}

.latest-auction .main-title {
    padding-bottom: 50px;
}

.login-block .main-title .titr {
    margin-top: 0;
  }

  .main-title .titr {
    margin-top: 0;
  }

  .newsletter .main-title .titr {
    display: block;
  }

  .main-title.small .titr:after {
    right: 0;
  }

  .main-title.small .titr:before {
    left: 100%;
  }
  .login-block .btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .l-footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .l-footer-block .l-forget,
  .l-footer-block label {
    font-size: 13px;
    color: var(--darkgray);
  }


  .form-check-input:active {
    filter: brightness(90%) !important;
  }
  
  .form-check-input:focus {
    border-color: var(--gray90) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0 transparent !important;
  }
  
  .form-check-input:checked {
    background-color: var(--darkgray) !important;
    border-color: var(--darkgray) !important;
  }
  
  .form-check-input[type="checkbox"]:indeterminate {
    background-color: #0d6efd;
    border-color: #0d6efd;
  }

  
  .list-box .form-check {
    margin-top: 8px !important;
    margin-bottom: 0 !important;
  }
  
  .list-box .form-check:first-child {
    margin-top: 0 !important;
  }
  
  .form-check-label {
    font-size: 13px !important;
    width: 100% !important;
  }
  
  .l-signup {
    font-size: 13px;
    color: var(--darkgray);
    margin-top: 30px !important;
  }
  
  .l-signup a {
    color: var(--blue);
  }
  
  .or-divider {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
}

.signup-container .s-footer-block {
    margin-top: 30px;
}

.or-divider:before {
    content: "";
    background: var(--gray90);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateZ(-1px);
}

.or-divider span {
    background: var(--bs-white);
    padding: 0 10px;
}

.signup-container .btn-google {
    margin-top: 30px;
}

.btn-google-login svg{
    display: none !important;
  }
  
  .btn-google-login div{
   margin-right: 0px !important;
   background: rgb(255, 255, 255);
   padding: 0px !important;
   border-radius: 0px !important;
  }
  .btn-google-login span{
   padding: 0px 20px 0px 0px;
   font-weight: 500;
  }
  .btn-google {
   width: 100% ;
   box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1) !important;
   height: 40px ;
   border-radius: 20px !important;
   text-align: center !important;
   padding: 10px !important ;
   display: block !important;
   background: url("../img/google.svg") no-repeat 10px center
     var(--bs-white) !important;
   background-size: 20px !important;
   font-size: 13px !important;
   color: var(--darkgray) !important;
   font-family :"IRANSans_light", sans-serif !important;
  }
  
  .signup-container .btn-google {
    margin-top: 30px;
  }

  .wizard-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wizard-list li::after {
    content: "/";
    font-family: inherit;
    font-size: 15px;
    position: relative;
    right: 6px;
    color: var(--gray50);
}

.wizard-list li.current {
    font-size: 16px;
    color: var(--darkgray);
}

@media (max-width: 576px){
    .wallet-container .price-block {
        background: var(--bgcolor);
        padding: 10px;
    }
}

.price-block .price {
    font-size: 17px;
}

.wallet-container {
    border: 1px solid var(--gray90);
    padding: 50px 30px;
  }
  
  .wallet-container .price {
    color: var(--darkgray);
    display: block;
  }
  
  .wallet-container .price .price-unit {
    margin-left: 5px;
  }
  
  .price-lable {
    font-size: 12px;
    color: var(--gray50) !important;
  }
  
  .wallet-container a {
    color: var(--blue) !important;
    font-style: italic;
    display: block;
    text-align: center;
    margin: 50px auto 30px;
    cursor: pointer;
  }
  
  .wallet-container button,
  .wallet-container button:hover {
    display: block;
    margin: 0 auto;
  }

  .btn-gray {
    background: var(--gray90) !important;
    padding: 7px 15px !important;
    min-width: 100px !important;
    color: var(--gray50) !important;
    border-radius: 25px !important;
    font-size: 13px !important;
  }

  .category-icon {
    position: relative;
    font-size: 10px;
    color: var(--pink);
    padding: 0 3px 0 3px;
    // margin-right: 10px;
    background-size: 20px !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 97% !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.ticket-state {
    font-size: 12px !important;
    padding-left: 20px !important;
    margin-left: 20px !important;
    position: relative !important;
  }
  
  .ticket-state:before {
    content: "" !important;
    background: var(--gray80) !important;
    width: 1px !important;
    height: 10px !important; 
    position: absolute !important;
    left: 0 !important;
    top: 2px !important;
  }

.ticket-state.replied {
    color: var(--lightgreen) !important;
  }
  
  .ticket-state.closed {
    color: var(--gray50) !important;
  }
  
  .ticket-state.pending {
    color: var(--orange) !important;
  }

  .msg-date {
    font-size: 12px;
    color: var(--gray50);
    margin-bottom: 10px;
    display: block;
  }

  .ticket-detail {
    margin-bottom: 30px;
}

.ticket-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticket-detail-body {
    background: var(--bgcolor);
    padding: 20px;
}

.td-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.td-right .msg-date {
    margin-left: 10px;
}

.image-custom-back{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    background-color: #eee;
  }

  .nav {
    display: block !important;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }