.follow_ct_btn{
    font-size: 0.9rem !important;
    color: var(--gray60) !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}
.contact_ct_btn{
    a{

        font-size: 0.9rem !important;
        color: var(--gray60) !important;
        margin-bottom: 0 !important;
        margin-top: 5px !important;
    }
}

// Auctions product images 

.auction_custm_list{
    display: grid;
    grid-template-columns: repeat( 3, minmax(400px, 1fr) );
    gap: 1rem;
    justify-content:center;
   .img-box{
       box-shadow:0px 0px 2px 4px rgba(0,0,0,0.01);
       overflow: hidden;
       width: 400px;
       height:400px;
   }
}
