.active-style-menu{
    color: #fff !important;
    }
    .default-box-choose{
      border: 1px solid #e6007e;
      border-radius:100px;
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      color: #e6007e;
      background-color: #fff;
    }
    .chooseartwork-custome{
      //height: 75vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .costume-select-input{
       .ant-select-selector{
    border-radius: 100px !important;
         min-width: 300px;
      }
      .ant-select-selection-item{
    
      }
    }
    .search-input {
      .ant-select-selector {
        border-radius: 100px !important;
      }
    }
    .btn-warn-custom {
      background: #e78d43 !important;
      padding: 7px 15px !important;
      min-width: 100px !important;
      color: #fff !important;
      border-radius: 25px !important;
      font-size: 13px !important;
    }
    .btn-warn-custom {
      background: #e78d43 !important;
      padding: 7px 15px !important;
      min-width: 100px !important;
      color: #fff !important;
      border: .5px solid #e7872f;
      border-radius: 25px !important;
      font-size: 13px !important;
      &:hover{
        border: 1px solid #e7872f;
      }
    
    }
    .add-row {
      color: var(--blue) !important;
      font-size: 12px;
      margin-bottom: 20px;
      background-color: transparent;
      border: 0;
    }
    .add-row-danger {
      color: #e78d43 !important;
      font-size: 12px;
      margin-bottom: 20px;
      background-color: transparent;
      border: 0;
    }
    .ant-card-body{
      padding: 10px !important;
    }

    .ant-drawer-header{
      text-align: center !important;
    }

    .ant-drawer-content-wrapper {
      width: 100vw !important;
  }

  // drawer filters 
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .category-icon{
    font-size: 6px !important;
  }

  .Spin-loader{
    margin: 20px 0 !important;
  margin-bottom: 20px !important;
  padding: 30px 50px !important;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.05) !important;
  border-radius: 4px !important;
  }

  .image-card-auction{
    width: 95px !important;
    height: 83px !important;
  }

  .image-card-product{
    width: 95px !important;
    min-height: 83px !important;
  }


  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  

