@mixin pinkBtn {
    height: 30px !important;
    background-color: rgb(255, 190, 223) !important;
    color: white !important;
    font-size: 0.8rem ;
    border-radius: 30px !important;
    outline: none !important;
    border : none !important;
    box-shadow: none !important;
    transition: 0.7s;
    box-shadow: 0 1px 6px #00000029 !important;
}

@mixin grayBtn {
    height: 30px !important;
    background-color:   var(--gray70) !important;
    color: white !important;
    font-size: 0.8rem ;
    border-radius: 30px !important;
    outline: none !important;
    border : none !important;
    box-shadow: none !important;
    transition: 0.7s;
    box-shadow: 0 1px 6px #00000029 !important;
}